.topbarr{
    backdrop-filter: saturate(150%) blur(30px);
    background-color: rgba(0,0,0,0.35);
}

#changeText{
    font-weight: bold;
}

.headline {
    font-size: xx-large;
}
.alignment{
    display: flex;
    align-items: center;
}

.activeStyle{
    border-bottom: 3px solid white;
}

@media only screen and (max-width: 770px) {
    .alignment{
        display: none;
    }
    .headline{
        font-size: larger !important;
    }
    .type-text{
        font-size: smaller;
    }
  }